body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Common Classes*/
.has-background-transparent {
  background-color: transparent !important;
}

.image {
  &.is-150x150 {
    width: 150px;
    height: 150px;
  }
}

/*Auth component*/
.auth_form {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .profile-img-container {
    position: relative;
    padding: 5px;
    border-radius: 100%;
    border: 3px solid hsl(204, 86%, 53%);
    .profile-img-btn {
      position: absolute;
      bottom: 20px;
      left: 170px;
      background-color: hsl(204, 86%, 53%);
      width: 30px;
      height: 30px;
      border-radius: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/*Navbar component*/
.topnav {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgb(219 219 219);
  z-index: 100;
  background-color: white;
  .navbar {
    width: 70%;
    margin: auto;
    .navbar-brand {
      > img {
        width: 100px;
        object-fit: contain;
      }
    }
    .navbar-menu {
      .navbar-item {
        .input {
          width: 250px;
        }
        cursor: pointer;
      }
      .navbar-end {
        .navbar-item {
          a {
            img {
              width: 20px;
            }
          }
          .avatar-img {
            img {
              max-height: none;
              width: 30px !important;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

/*Homepage*/
.homepage {
  .columns {
    margin: 50px 0 0 0;
  }
}

/*Post*/
.card {
  &.post {
    .card-header {
      padding: 10px 15px;
      .level {
        width: 100%;
        margin-bottom: 0;
        .card-header-title {
          padding: 0;
          font-size: 0.9rem;
          font-weight: 700;
        }
      }
    }
  }
}

/*Create Post*/
.create-post {
  &.modal {
    .modal-card {
      width: 400px;
      min-height: 450px;
      overflow: hidden;
      .image {
        object-fit: cover;
      }
      .modal-card-body {
        position: relative;
        .progress {
          position: absolute;
          top: 0%;
          left: 0;
          width: 100%;
          height: 3px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .topnav {
    .navbar {
      width: 95%;
      .navbar-brand {
        .navbar-item {
          padding: 0.5rem;
        }
      }
    }
  }
}
